.container
  .row
    .col-md-12.col-xs-12.col-sm-12
      .thumbnail
        - if @funcionarios.present?
          %table.table.table-bordered.table-striped.bordas_alteradas{:cellspacing => "0"}
            %thead
              %tr.fundo_tabela
                %th.al_center Nome
                %th.al_center Telefone
                %th.al_center Celular
                %th.al_center Cargo
                %th.al_center Ação
            %tbody
              - @funcionarios.each do |item|
                %tr{:class => cycle("", "alt") }
                  %td.al_center= item.nome.upcase
                  %td.al_center= item.telefone
                  %td.al_center= item.telefone_contato
                  %td.al_center= item.cargo_nome
                  %td.al_center{:width => 100}
                    = link_to "", admin_funcionario_path(:id => item), :class => "btn btn-default btn-xs glyphicon glyphicon-zoom-in", title: "Visualizar Funcionario"
                    = link_to "", edit_admin_funcionario_path(:id => item), :class => "btn btn-default btn-xs glyphicon glyphicon-pencil", title: "Editar Usuário"
                    = link_to "", admin_funcionario_path(:id => item), method: :delete, data: {toggle: "tooltip", placement: "top", confirm: 'Deseja excluir definitivamente o Funcionário?'}, :class => "btn btn-default btn-xs glyphicon glyphicon-trash", title: "Excluir Funcionário"

          - if collection.respond_to?(:total_pages)
            .row
              .col-md-12
                = will_paginate collection, :previous_label => "« Anterior", :next_label => "Próximo »"
        - else
          %tr
            %td
              .alert.alert-danger{:role => "alert"}
                %span.glyphicon.glyphicon-exclamation-sign{"aria-hidden" => "true"}
                  %span.sr-only Error:
                  Não Funcionarios Cadastrados
        .row
          .col-md-12{align: "right"}
            = link_to "Novo Usuário", new_admin_funcionario_path, :class => "btn btn-primary correcao_botao"