.container
  .row
    .col-md-5
      .panel.panel-info
        .panel-heading Informações do Cartão
        .panel-body
          .row
            .col-md-6
              %ul
                %li
                  %strong Mês
                %li
                  =  Time.current.strftime('%B')
            .col-md-3
              %ul
                %li
                  %strong Ano
                %li
                  = Date.current.year
    .col-md-7
      .panel.panel-info
        .panel-heading Informações do Mês de #{Time.current.strftime('%B')}
        .panel-body
          .row
            .col-md-6
              %ul
                %li
                  %strong Dias no mês
                %li
                  =  "#{Time.current.end_of_month.day} dias"
            .col-md-6
              %ul
                %li
                  %strong Dias trabalhados
                %li
                  =  quantidade_dias_trabalhados_mes

