= render "head"

= render "show_funcionario"

= render "show_cartao_mes"

- if !@cartao_ponto.present?
  .container
    .row
      .col-md-12{align: "right"}

        = link_to "Gerar Cartão", gerar_cartao_admin_cartao_ponto_path, :class => "button btn btn-primary correcao_botao"
- else
  = render "visualizar_cartao_ponto"