.container
	.row
		.col-md-12
			= simple_form_for [:admin, resource] do |form|
				= form.error_notification
				.thumbnail
					.container
						.row
							.col-md-11
								= form.input :comentario,  input_html: { class: 'full' }
						.row
							.col-md-8
								= form.input :foto, input_html: { class: 'full' }
						.row
							.col-md-11{align: "right"}
								%button.btn.btn-primary.correcao_botao{:type => "button", :type => "submit"} Salvar
								= link_to "Cancelar", admin_albuns_path, :class => "btn btn-default correcao_botao"