.container-fluid.encostado
  .row
    #fundo_colorido
    #imagem_fundo
    #faixa_transparente


%nav#theMenu.menu.menu-open
  .menu-wrap
    %h1.logo
      %a{:href => "index.html#home"} Menu
    .glyphicon.glyphicon-left-arrow.menu-close
    - if usuario_signed_in?
      %a
        = link_to "Sair", destroy_usuario_session_path, :method => :delete
      - if current_usuario.administrador
        %a
          = link_to "Lojas", admin_lojas_path
      - if current_usuario.gerente
        %a
          = link_to "Funcionários", admin_funcionarios_path
      - if current_usuario.vendedor
        %a
          = link_to "Orçamentos", admin_orcamentos_path
    - else
      %a
        = link_to "Entrar", new_usuario_session_path

    %a{:href => "#about"} Loja
    %a{:href => "#demos"} Funcionarios
    %a{:href => "#demos"} Fornecedores
    %a
      = link_to "Orçamentos", new_orcamento_path
    %a{:href => "http://www.landingsumo.com/wp/"} Produtos
  #menuToggle.active
    .glyphicon.glyphicon-align-justify


