.container
  .row
    .col-md-12.col-xs-12.col-sm-12
      .thumbnail
        - if @albuns.present?
          %table.table.table-bordered.table-striped.bordas_alteradas{:cellspacing => "0"}
            %thead
              %tr.fundo_tabela
                %th.al_center Nome
                %th.al_center Categoria
                %th.al_center Ação
            %tbody
              - @albuns.each do |item|
                %tr{:class => cycle("", "alt") }
                  %td= item.nome.upcase
                  %td.al_center= item.categoria_nome
                  %td.al_center{:width => 130}
                    = link_to "", admin_album_album_fotos_path(:album_id => item), :class => "btn btn-default btn-xs glyphicon glyphicon-camera", title: "Editar Fotos"
                    = link_to "", admin_album_path(:id => item), :class => "btn btn-default btn-xs glyphicon glyphicon-zoom-in", title: "Visualizar Album"
                    = link_to "", edit_admin_album_path(:id => item), :class => "btn btn-default btn-xs glyphicon glyphicon-pencil", title: "Editar Album"
                    = link_to "", admin_album_path(:id => item), method: :delete, data: {toggle: "tooltip", placement: "top", confirm: 'Deseja excluir definitivamente o Album?'}, :class => "btn btn-default btn-xs glyphicon glyphicon-trash", title: "Excluir Album"

          - if @albuns.respond_to?(:total_pages)
            .row
              .col-md-12
                = will_paginate @albuns, :previous_label => "« Anterior", :next_label => "Próximo »"
        - else
          %tr
            %td
              .alert.alert-danger{:role => "alert"}
                %span.glyphicon.glyphicon-exclamation-sign{"aria-hidden" => "true"}
                  %span.sr-only Error:
                  Não Há Albuns Cadastrados
        .row
          .col-md-12{align: "right"}
            = link_to "Novo Album", new_admin_album_path, :class => "btn btn-primary correcao_botao"